<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="data" class="org.proj.Data.DataImpl1" ></bean>
    <bean id="metier" class="org.proj.Metier.MetierImpl">

<!--        <property name="dao" ref="data"></property>-->
        <constructor-arg ref="data"/>
    </bean>

</beans>